.table{
    position: relative;
    margin: auto;
}

table{
    width: 100%;
    margin:auto;
    margin-top: 5em;
    border-radius:5px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-spacing: 0;
}



table  th{
    background-color: #3498db;
    color: #fff;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    

}

.dltBtn{
    background-color: #e74c3c;
    color: #fff;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    border-radius:5px;
    border:none;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.dltBtn:hover{
    cursor: pointer;
    background:#c0392b;
    transition: all 0.3s ease;
}

table > tr > td{
    font-size: 1em;
    border-bottom:1px solid rgb(182, 179, 179);
    border-spacing: 0;
    margin:0;
    padding:0.5em;
    
}

table > tr:hover{
    background-color: #e0dcdc;
    transition: all 0.3s ease;
   
}

table > tr >td:first-child{
    width:10%;
}

caption{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1em;
}


caption > button{
    background-color: #3498db;
    color: #fff;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    border-radius:5px;
    border:none;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

caption > button:hover{
    cursor: pointer;
    background:#2386c8;
    transition: all 0.3s ease;
}